<!-- login page -->

<% include ../partials/boilerplate %>

<div class='app-header'>
  <h1>News Bubble</h1><br>
</div>
<main>

<div class="login-buttons">
<form method='POST' action='/auth/login'>
  <input class="news-add-button" name='username' type='text' placeholder='username' required value=""/>
  <input class="news-add-button" name='password' type='password' placeholder='password' required value="" />
  <input class="news-add-button" type='submit' value='Log in!' />
</form>
</div>

<% include ../partials/end %>
