<!-- login page -->

<% include ../partials/boilerplate %>

<div class="login-buttons">
<form method='POST' action='/auth/login'>
  <input class="news-button" name='username' type='text' placeholder='username' required value="user2"/>
  <input class="news-button" name='password' type='password' placeholder='password' required value="pass" />
  <input class="news-button" type='submit' value='Log in!' />
</form>
</div>

<% include ../partials/end %>
