<!-- page to register new users -->

<% include ../partials/boilerplate %>

<div class="login-buttons">
<form method='POST' action='/auth/register'>
  <input class="news-button" name='username' type='text' placeholder='username' required />
  <input class="news-button" name='email' type='email' placeholder='email' required />
  <input class="news-button" name='password' type='password' placeholder='password' required />
  <input class="news-button" type='submit' value='Register!' />
</form>
</div>

<% include ../partials/end %>
