<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <link rel="stylesheet" type="text/css" href="/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <title>News Bubble</title>
</head>

<body>
<div class='app-header'>
  <h1>News Bubble</h1><br>
    <div class="nav-buttons">
     <a class="nav-button" href='/sources/index'>See Your Bubble</a>
     <a class="nav-button" href='/sources/add/'>Add Source</a>
     <a class="nav-button" href='/auth/logout/'>Logout</a>
    </div>
</div>
<main>
