<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>My News Bubble</title>
</head>

<div class='app-header'>
  <h1>My News Bubble</h1><br>
    <div class="nav-buttons">
     <a class="nav-button" href='/sources/sources-index'>Index</a>
     <a class="nav-button" href='/sources/sources-add/'>Add</a>
     <a class="nav-button" href='/sources/sources-edit/'>Edit</a>
     <a class="nav-button" href='/auth/logout/'>Logout</a>
    </div>
</div>

<body>
