<!-- bottom of each page of app -->

</main>
<footer>
Created By Daniel W. Beebe, Powered By News API
<span class="links"><a href="https://github.com/danielwbeebe"><i class="fa fa-2x fa-github-square" aria-hidden="true"></i></a>
</footer>

<script src='/src/main.js'></script>

</body>
</html>
