<!-- welcome page with login -->

<% include ./partials/boilerplate %>

<div class='app-header'>
  <h1>News Bubble</h1><br>
</div>
<main>

<div class="welcome">
<h2>Welcome!</h2><br>
<a class="news-add-button" href='/auth/login'>Login</a>
<a class="news-add-button" href='/auth/register'>Register</a>
<div class="welcome">
<% include ./partials/end %>
