<!-- welcome page with login -->

<% include ./partials/boilerplate %>
<div class="welcome">
<h2>Welcome!</h2><br>
<a class="news-button" href='/auth/login'>Login</a>
<a class="news-button" href='/auth/register'>Register</a>
<div class="welcome">
<% include ./partials/end %>
