<!-- main list of selected news sources -->

<% include ../partials/boilerplate %>

<h1>Here's Your Bubble</h1>

<!-- <% data.forEach(source => { %>
  <h3><%= source.source %></h3>

  <a href='/sources/<%= source.id %>'>Source</a>
<% }) %> -->

<% include ../partials/end %>
