<!-- main list of selected news sources -->

<% include ../partials/boilerplate %>

<h1>Here's Your Bubble - This is the Index</h1>

<!-- WORK IN PROGRESS - container for articles from news source  -->
  <div class="news-container">
    <% for (let source of data) { %>
      <div class="news-articles">
        <h2><%= sources.source %></h2>
        <h3>Category: <%= todo.category %></h3>
      </div>
    <% } %>
  </div>

<% include ../partials/end %>
