<!-- page to add news sources to user's bubble news feed -->

<% include ../partials/boilerplate %>

<h2>Build Your News Bubble</h2>
<h3>Click to add the latest from any of the news sources below</h3><br>

<form class="news-buttons" method='POST' action='/sources'>
  <button id="news-button" type="submit" name="newsSource" value="al-jazeera-english">Al Jazeera</button>
  <button id="news-button" type="submit" name="newsSource" value="ars-technica">Ars Technica</button>
  <button id="news-button" type="submit" name="newsSource" value="associated-press">Associate Press</button>
  <button id="news-button" type="submit" name="newsSource" value="bbc-news">BBC News</button>
  <button id="news-button" type="submit" name="newsSource" value="bloomberg">Bloomberg</button>
  <button id="news-button" type="submit" name="newsSource" value="entertainment-weekly">Entertainment Weekly</button>
  <button id="news-button" type="submit" name="newsSource" value="espn">ESPN</button>
  <button id="news-button" type="submit" name="newsSource" value="fortune">Fortune</button>
  <button id="news-button" type="submit" name="newsSource" value="mtv-news">MTV News</button>
  <button id="news-button" type="submit" name="newsSource" value="new-york-magazine">NY Mag</button>
  <button id="news-button" type="submit" name="newsSource" value="the-new-york-times">NY Times</button>
  <button id="news-button" type="submit" name="newsSource" value="the-washington-post">Washington Post</button>
</form>

<% include ../partials/end %>



