<!-- page to add news sources to user's bubble news feed -->

<% include ../partials/boilerplate %>

<h1>Build Your News Bubble</h1>
<h2>Click to add any of the news sources below</h2><br>

<form class="news-buttons" method='POST' action='/sources'>
  <button id="news-button" type="submit" name="newsSource" value="associated-press">AP</button>
  <button id="news-button" type="submit" name="newsSource" value="bbc-news">BBC</button>
  <button id="news-button" type="submit" name="newsSource" value="bloomberg">Bloomberg</button>
  <button id="news-button" type="submit" name="newsSource" value="espn">ESPN</button>
  <button id="news-button" type="submit" name="newsSource" value="mtv-news">MTV</button>
</form>

<% include ../partials/end %>
