<!-- main list of selected news sources -->

<% include ../partials/boilerplate %>

<h1>Here's Your Bubble</h1>

<!-- WORK IN PROGRESS - add container for articles from news source  -->

  <div class="news-container">
    <% for (let source of data) { %>
      <div class="news-articles">
        <h2>Source: <%= source.source %></h2>

          <div class="article" id="title"></div><br>
          <div class="article" id="description"></div><br>
          <div class="article" id="url"></div><br>
          <div class="article" id="urlToImage"></div>

        <form method='POST' action='/sources/<%= source.id %>?_method=DELETE'>
          <input type='submit' value='DELETE' />
        </form>
      </div>
    <% } %>
  </div>


<% include ../partials/end %>
