<!-- page to add news sources to user's bubble news feed -->

<% include ../partials/boilerplate %>

<h1>Build Your Bubble</h1>
<h2>Click to add any of the news sources below</h2>

<form class="news-buttons" method='POST' action='/sources'>
  <input id="news-button" type="submit" name="newsSource" value="associated-press">
  <input id="news-button" type="submit" name="newsSource" value="bbc-news">
  <input id="news-button" type="submit" name="newsSource" value="bloomberg">
  <input id="news-button" type="submit" name="newsSource" value="espn">
  <input id="news-button" type="submit" name="newsSource" value="mtv-news">
</form>

<% include ../partials/end %>
