<!-- main list of selected news sources -->

<% include ../partials/boilerplate %>

<h1>Here's Your Bubble - This is the Index</h1>

<!-- WORK IN PROGRESS - add container for articles from news source  -->

<% include ../partials/end %>
