<!-- page to add news sources to user's bubble news feed -->

<% include ../partials/boilerplate %>

<div class='app-header'>
  <h1>News Bubble</h1><br>
    <div class="nav-buttons">
      <a class="nav-button" href='/sources/index/'>Go To News Bubble</a>
     <a class="nav-button" href='/auth/logout/'>Logout</a>
    </div>
</div>
<main>

<div class="add-intro">
  <h2>Create Your News Bubble</h2>
  <h3>Click to add the latest news from one of the sources below</h3><br>
</div>

<form class="news-buttons" method='POST' action='/sources'>
  <button class="news-add-button" id="al-jazeera-english" type="submit" name="newsSource" value="al-jazeera-english">Al Jazeera</button>
  <button class="news-add-button" id="ars-technica" type="submit" name="newsSource" value="ars-technica">Ars Technica</button>
  <button class="news-add-button" id="associated-press" type="submit" name="newsSource" value="associated-press">Associated Press</button>
  <button class="news-add-button" id="bbc-news" type="submit" name="newsSource" value="bbc-news">BBC News</button>
  <button class="news-add-button" id="bloomberg" type="submit" name="newsSource" value="bloomberg">Bloomberg</button>
  <button class="news-add-button" id="entertainment-weekly" type="submit" name="newsSource" value="entertainment-weekly">Entertainment Weekly</button>
  <button class="news-add-button" id="espn" type="submit" name="newsSource" value="espn">ESPN</button>
  <button class="news-add-button" id="fortune" type="submit" name="newsSource" value="fortune">Fortune</button>
  <button class="news-add-button" id="fox-sports" type="submit" name="newsSource" value="fox-sports">Fox Sports</button>
  <button class="news-add-button" id="the-guardian-uk" type="submit" name="newsSource" value="the-guardian-uk">The Guardian</button>
  <button class="news-add-button" id="the-huffington-post" type="submit" name="newsSource" value="the-huffington-post">The Huffington Post</button>
  <button class="news-add-button" id="mtv-news" type="submit" name="newsSource" value="mtv-news">MTV News</button>
  <button class="news-add-button" id="national-geographic" type="submit" name="newsSource" value="national-geographic">National Geographic</button>
  <button class="news-add-button" id="new-york-magazine" type="submit" name="newsSource" value="new-york-magazine">New York Magazine</button>
  <button class="news-add-button" id="the-new-york-times" type="submit" name="newsSource" value="the-new-york-times">New York Times</button>
  <button class="news-add-button" id="reuters" type="submit" name="newsSource" value="reuters">Reuters</button>
  <button class="news-add-button" id="the-wall-street-journal" type="submit" name="newsSource" value="the-wall-street-journal">Wall Street Journal</button>
  <button class="news-add-button" id="the-washington-post" type="submit" name="newsSource" value="the-washington-post">Washington Post</button>
</form>

<% include ../partials/end %>
