<!-- page to edit news sources selected -->

<% include ../partials/boilerplate %>

<h1>Change Your Bubble</h1>

<!-- <form method='POST' action='/sources/<%= source.id %>?_method=PUT'>
  <input type='text' name='source' value='<%= source.source %>' />
  <input type='submit' value='Update it!' />
</form> -->

<% include ../partials/end %>
