<!-- page to add news sources -->

<% include ../partials/boilerplate %>

<h1>Build Your Bubble</h1>
<h2>Click to add any of the news sources below</h2>

<form>
  <input type="button" name='Associated Press' value="Associate Press">
  <input type="button" name='BBC News' value="BBC News">
  <input type="button" name='Bloomberg' value="Bloomberg">
  <input type="button" name='ESPN' value="ESPN">
  <input type="button" name='MTV News' value="MTV News">
  <input type="button" name='Wired' value="Wired">
</form>

<% include ../partials/end %>
