<!-- page to add news sources to user's bubble news feed -->

<% include ../partials/boilerplate %>

<div class="add-intro">
  <h2>Build Your News Bubble</h2>
  <h3>Click to add the latest from any of the news sources below</h3><br>
  <hr>
</div>

<form class="news-buttons" method='POST' action='/sources'>
  <button class="news-button" id="button1" type="submit" name="newsSource" value="al-jazeera-english">Al Jazeera</button>
  <button class="news-button" id="button2" type="submit" name="newsSource" value="ars-technica">Ars Technica</button>
  <button class="news-button" id="button3" type="submit" name="newsSource" value="associated-press">Associate Press</button>
  <button class="news-button" id="button4" type="submit" name="newsSource" value="bbc-news">BBC News</button>
  <button class="news-button" id="button5" type="submit" name="newsSource" value="bloomberg">Bloomberg</button>
  <button class="news-button" id="button6" type="submit" name="newsSource" value="entertainment-weekly">Entertainment Weekly</button>
  <button class="news-button" id="button7" type="submit" name="newsSource" value="espn">ESPN</button>
  <button class="news-button" id="button8" type="submit" name="newsSource" value="fortune">Fortune</button>
  <button class="news-button" id="button9" type="submit" name="newsSource" value="mtv-news">MTV News</button>
  <button class="news-button" id="button10" type="submit" name="newsSource" value="new-york-magazine">NY Mag</button>
  <button class="news-button" id="button11" type="submit" name="newsSource" value="the-new-york-times">NY Times</button>
  <button class="news-button" id="button12" type="submit" name="newsSource" value="the-washington-post">Washington Post</button>
</form>


<% include ../partials/end %>



