<!-- page to add news sources -->

<% include ../partials/boilerplate %>

<h1>Build Your Bubble - This is the Add Page</h1>

<p>AP</p>
<p>BBC News</p>
<p>Bloomberg</p>
<p>ESPN</p>
<p>MTV News</p>
<p>AP</p>
<p>Wired</p>

<% include ../partials/end %>
