<!-- page to add news sources -->

<% include ../partials/boilerplate %>

<h1>Build Your Bubble</h1>
<h2>Click to add any of the news sources below</h2>

<form method='POST' action='/sources'>
  <input type="submit" name='associated-press' value="associated-press">
  <input type="submit" name='bbc-news' value="bbc-news">
  <input type="submit" name='bloomberg' value="bloomberg">
  <input type="submit" name='espn' value="espn">
  <input type="submit" name='mtv-news' value="mtv-news">
</form>

<% include ../partials/end %>
