body {
  display: flex;
  min-height: 100vh;
  line-height: 1.3em;
  flex-direction: column;
  font-size: 16px;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-color: #F6F6F6;
  background-blend-mode: multiply;
  font-family: Mallory, sans-serif;
  color: #2B2B2B;
  font-weight: 900;
  min-width: 500px;
  border-style: solid;
  border-bottom-color: #DE1B1B;
  border-bottom-width: 5px;
  padding: 0 30px 0 30px;
}

.nav-button {
  background-color:#fff;
  border:none;
  color: black;
  padding: 10px 10px 10px 10px;
  margin: 0 10px 0 10px;
  text-align: center;
  text-decoration:none;
  display:inline-block;
  font-size:15px;
  border:2px solid;
  border-radius:15px;
}

.nav-button:hover {
  color: #DE1B1B;
}

.welcome {
  padding-top: 15%;
}

.login-buttons {
  padding-top: 15%;
}

.news-buttons {
  align-items: center;
  justify-content: center;
  margin: 20px 25% 0 25%;
}

.news-button {
  background-color:#fff;
  border:none;
  padding:10px 10px 10px 10px;
  margin:0 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border:2px solid;
  border-radius:15px;
  color: black;
}

#news-button:hover {
  color: #DE1B1B;
}

#remove-button {
  font-size: 12px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius:15px;
  margin: 10px 0px 20px 0;
}

#remove-button:hover {
  color: #DE1B1B;
  text-decoration: underline;
  text-decoration-color: #DE1B1B;
}

.sources-list {
  font-size: 20px;
  line-height: 1.2em;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  background-color: #2B2B2B;
  color: white;
}

footer {
  padding: 20px;
  box-sizing: border-box;
  background-color: black;
  font-family: Mallory, sans-serif;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
  bottom: 0px;
  width: 100%;
  vertical-align: text-middle;
  border-style: solid;
  border-top-color: #DE1B1B;
  border-top-width: 5px;
}

h1 {
  font-size: 50px;
  line-height: 1.2em;
  font-weight: 900;
}

h2 {
  font-size: 40px;
  line-height: 1.6em;
  color: #E9E581;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  line-height: 1.6em;
}

p, a {
  font-size: 18px;
  line-height: 1.4em;
  color: white;
}

hr {
  height: 2px;
  background-color: #DE1B1B;
  border: 1px solid #DE1B1B;
  margin-bottom: 0;
}

.news-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  width: 625px;
  flex-basis: auto;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: black;
}

.sources-list {
  background-color: black;
}

.add-intro {
  background-color: black;
}

#title {
  font-size: 24px;
}

#description {
  font-size: 20px;
  width: 600px;
  text-align: justify;
}

img {
  max-width: 400px;
  height: auto;
}
