body {
  display: flex;
  min-height: 100vh;
  line-height: 1.3em;
  flex-direction: column;
  font-size: 16px;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-color: white;
  background-blend-mode: multiply;
  font-family: Mallory, sans-serif;
  color: #black;
  font-weight: 900;
  min-width: 500px;
  border-style: solid;
  border-bottom-color: #B56357;
  border-bottom-width: 5px;
  padding: 0 30px 0 30px;
}

.nav-button {
  background-color:#fff;
  border:none;
  color: black;
  padding: 10px 10px 10px 10px;
  margin: 0 10px 0 10px;
  text-align: center;
  text-decoration:none;
  display:inline-block;
  font-size: 15px;
  border:2px solid;
  border-radius:15px;
}

.nav-button:hover {
  background-color: #B56357;
  color: white;
}

.welcome {
  padding-top: 15%;
}

.login-buttons {
  padding-top: 15%;
}

.news-buttons {
  align-items: center;
  justify-content: center;
  margin: 20px 25% 0 25%;
}

.news-add-button {
  background-color:#fff;
  border:none;
  padding:10px 10px 10px 10px;
  margin:0 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border:2px solid;
  border-radius:15px;
  color: black;
}

.news-add-button:hover {
  background-color: #B56357;
  color: white;
}

#remove-button {
  font-size: 12px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius:15px;
  margin: 10px 0px 20px 0;
}

#remove-button:hover {
  background-color: #A7B3A5;
}

.sources-list {
  font-size: 20px;
  line-height: 1.2em;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  background-color: #A7B3A5;
  color: white;
}

footer {
  padding: 20px;
  box-sizing: border-box;
  background-color: black;
  font-family: Mallory, sans-serif;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
  bottom: 0px;
  width: 100%;
  vertical-align: text-middle;
  border-style: solid;
  border-top-color: black;
  border-top-width: 5px;
}

h1 {
  font-size: 50px;
  line-height: 1.2em;
  font-weight: 900;
}

h2 {
  font-size: 40px;
  line-height: 1.6em;
  color: black;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  line-height: 1.6em;
  color: black;
}

h4 {
  font-size: 24px;
  line-height: 1.6em;
  color: white;
}

p, a {
  font-size: 18px;
  line-height: 1.4em;
  color: white;
}

.news-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  flex-basis: auto;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #B56357;
  border-radius:15px;
}

#title {
  font-size: 26px;
  line-height: 1.4em;
  width: 550px;
}

#description {
  font-size: 20px;
  width: 550px;
  text-align: justify;
}

img {
  max-width: 550px;
  height: auto;
}

@media (max-width: 800px) {

  main {
    min-width: 600px;
  }

  .app-header {
    min-width: 600px;
    padding: 0px;
  }

  .news-articles {
    max-width: 500px;
  }

  #title {
  font-size: 24px;
  width: 400px;
  }

  #description {
    max-width: 400px;
  }

  img {
    max-width: 400px;
    height: auto;
  }

  .nav-button {
    padding: 5px 5px 5px 5px;
    margin: 0 5px 0 5px;
    font-size: 14px;
    border:1px solid;
    border-radius:15px;
  }

  footer {
    min-width: 600px;
    padding: 0px;
  }
}
